body {
    font-family: Helvetica, "Helvetica Neue", Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "小塚明朝 Pro L", serif;
}

.heading {
    text-align: center;
}
h2.heading, h3.heading {
    margin-top: -0.5em;
    font-weight: normal;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
}

td {
    border: 1px solid #dddddd;
    vertical-align: top;
}

tr:nth-child(even) {
    background: #ccc;
}

a, a:visited {
    color: #777;
    text-decoration: underline;
}

a:hover {
    background-color: #dFdFdF;
    text-decoration: none;
}

.searchbox input {
    border: 1px solid #000;
    border-radius: 5px;
    width: 480px;
    height: 48px;
    font-size: 24px;
    padding: 0 10px;
}

span.search-highlighted {
    background: #22f;
    color: #fff;
}
